orbs:
  node: circleci/node@4.1.0

version: 2.1

jobs:
  lint:
    executor:
      name: node/default
      tag: "15.11"
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run lint

workflows:
  default:
    jobs:
      - lint
      - node/test:
          version: "15.11"
